catalog: cme_demos_alex_barreto
schema: telco_billing_db
llm_endpoint: databricks-claude-3-7-sonnet
embedding_model_endpoint_name: databricks-gte-large-en
warehouse_id: 148ccb90800933a1
vector_search_index: cme_demos_alex_barreto.telco_billing_db.faq_indx1
tools_billing_faq: cme_demos_alex_barreto.telco_billing_db.billing_faq
tools_billing: cme_demos_alex_barreto.telco_billing_db.lookup_billing
tools_items: cme_demos_alex_barreto.telco_billing_db.lookup_billing_items
tools_plans: cme_demos_alex_barreto.telco_billing_db.lookup_billing_plans
tools_customer: cme_demos_alex_barreto.telco_billing_db.lookup_customer
agent_name: ai_billing_agent
agent_prompt: |
  You are a Billing Support Agent assisting users with billing inquiries.

  Guidelines:
  - First, check FAQ Search before requesting any details.
  - If an FAQ answer exists, return it immediately.
  - If no FAQ match, request the customer_id before retrieving billing details.
  - Do not disclose confidential information like names, emails, device_id.

  Process:
  1. Run FAQ Search -> If an answer exists, return it.
  2. If no FAQ match, ask for the customer_id and use the relevant tool(s) to fetch billing details.
  3. If missing details (e.g., timeframe), ask clarifying questions.

  Keep responses polite, professional, and concise.
